/* Generali */
* {
box-sizing: border-box;
margin: 0;
padding: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.grey {
  color: #717171;
}

.white {
  color: #fff;
}
/* fine generali */

.wrapper {
  width: 100%;
  height: 100vh;
  background-color: red;
}

.wrapper::after {
  content: "";
  display: table;
  clear: both;
}

/* Header laterale */
header {
  float: left;
  width: 300px;
  height: calc(100% - 80px);
  display: flex;
  flex-direction: column;
  background-color: #000;
}
/* Header logo */
.logo {
  height: 80px;
  line-height: 80px;
  flex-shrink: 0;
  padding-left: 20px;
  font-size: 1.5rem;
  transition: 0.4s;
}

.logo i {
  font-size: 2.5rem;
}

.logo h2 {
  display: inline-block;
}

.logo sup {
  padding-left: 5px;
  font-size: 1rem;
}

.logo:hover {
  color: #717171;
}
/* fine header logo */

/* Main nav */
.main-nav {
  height: calc((100% - 130px) * 20%);
}

.main-nav ul li a {
  display: inline-block;
  padding: 8px 20px;
  font-size: 0.9rem;
  font-weight: bold;
  color: #717171;
  border-left: 3px solid #000;
  transition: 0.4s;
}

.main-nav i,
.second-nav i {
  padding-right: 10px;
  vertical-align: middle;
}

.main-nav i {
  font-size: 1.5rem;
}

.main-nav ul li:first-child a {
  border-left: 3px solid lightgreen;
  color: #fff;
}

.main-nav ul li a:hover {
  border-left: 3px solid lightgreen;
  color: #fff;
}
/* fine main nav */

/* Second nav */
.second-nav,
.bottom-nav {
  padding-left: 20px;
}

.second-nav {
  height: calc((100% - 130px) * 80%);
  overflow-y: scroll;
  padding-top: 10px;
}

.second-nav i {
  font-size: 2.5rem;
}

.second-nav h4 {
  font-size: 1.4rem;
  text-transform: uppercase;
}

.second-nav a {
  display: inline-block;
  color: #717171;
  padding-top: 7px;
  padding-bottom: 7px;
  font-size: 0.9rem;
  font-weight: bold;
  transition: 0.4s;
}

.second-nav a:hover {
  color: #fff;
}
/* fine second nav */

/* Bottom nav */
.bottom-nav {
  height: 80px;
  margin-top: auto;
  font-size: 1.2rem;
  background-color: violet;
}

.bottom-nav i {
  padding-right: 10px;
}

.bottom-nav a {
  color: #717171;
  display: inline-block;
  padding: 10px 20px 10px 0;
}

.bottom-nav h4 {
  padding: 10px 20px 10px 0;
  border-top: 2px solid #717171;
}

.fa-user-circle {
  font-size: 2rem;
}
/* fine bottom nav */
/* fine header laterale */

/* Main */
main {
  float: right;
  width: calc(100% - 300px);
  height: calc(100% - 80px);
  background-color: orange;
}
/* Barra upgrade */
.upgrade {
  background-color: rgba(0,0,0,0.6);
  position: fixed;
  top: 0;
  right: 0;
  width: calc(100% - 300px);
  height: 80px;
}
/* fine barra upgrade */
/* Contenuto principale main */
.content {
  padding: 30px;
  height: 100%;
  overflow-y: scroll;
}
/* fine contenuto principale main */
/* fine main */

/* Footer */
footer {
  width: 100%;
  height: 80px;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 1;
  background-color: pink;
}
/* fine footer */

/* MEDIA QUERIES */
@media screen and (min-width: 993px) {
  html {
    font-size: 13px;
  }
}
/* fine MEDIA QUERIES */
