/* Generali */
* {
box-sizing: border-box;
margin: 0;
padding: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.grey {
  color: #717171;
}

.white {
  color: #fff;
}
/* fine generali */

.wrapper {
  width: 100%;
  height: 100vh;
  background-color: red;
}

.wrapper::after {
  content: "";
  display: table;
  clear: both;
}

/* Header laterale */
header.not-xs {
  float: left;
  width: 250px;
  height: calc(100% - 80px);
  display: flex;
  flex-direction: column;
  background-color: #000;
}

.logo, .main-nav, .bottom-nav {
  flex-shrink: 0;
}

/* Header logo */
.logo {
  height: 80px;
  line-height: 80px;
  font-size: 1.5rem;
}

.logo i {
  font-size: 2.5rem;
}

.logo h2 {
  display: inline-block;
}

.logo sup {
  padding-left: 5px;
  font-size: 1rem;
}
/* fine header logo */

/* Main nav */
.main-nav ul li a {
  display: inline-block;
  padding: 8px 20px;
  font-size: 0.9rem;
  font-weight: bold;
  color: #717171;
  border-left: 3px solid #000;
  transition: 0.4s;
}

.main-nav i,
.second-nav i {
  padding-right: 10px;
  vertical-align: middle;
}

.main-nav i {
  font-size: 1.5rem;
}

.main-nav ul li:first-child a {
  border-left: 3px solid lightgreen;
  color: #fff;
}

.main-nav ul li a:hover {
  border-left: 3px solid lightgreen;
  color: #fff;
}
/* fine main nav */

/* Second nav */
.second-nav,
.bottom-nav,
.logo {
  padding-left: 20px;
}

.second-nav {
  overflow-x: hidden;
  overflow-y: auto;
  padding-top: 10px;
}

.second-nav i {
  font-size: 2.5rem;
}

.second-nav h4 {
  font-size: 1.4rem;
  text-transform: uppercase;
}

.second-nav a {
  display: inline-block;
  color: #717171;
  padding-top: 7px;
  padding-bottom: 7px;
}

.second-nav a, .bottom-nav a {
  font-weight: bold;
  font-size: 0.9rem;
  transition: 0.4s;
}

.second-nav a:hover,
.bottom-nav a:hover,
header.xs a:hover {
  color: #fff;
}
/* fine second nav */

/* Bottom nav */
.bottom-nav {
  font-size: 1.2rem;
  margin-top: auto;
  padding-right: 20px;
}

.bottom-nav i {
  padding-right: 10px;
}

.bottom-nav a {
  color: #717171;
  display: inline-block;
  padding: 10px 20px 10px 0;
}

.bottom-nav h4 {
  padding: 10px 20px 10px 0;
  border-top: 2px solid #717171;
  font-size: 1rem;
}

.fa-user-circle {
  vertical-align: middle;
  font-size: 2rem;
}
/* fine bottom nav */
/* fine header laterale */

/* Main */
main {
  float: right;
  width: calc(100% - 250px);
  height: calc(100% - 80px);
  background-color: #141922;
}
/* Barra upgrade */
.upgrade {
  background-color: rgba(0,0,0,0.6);
  position: fixed;
  top: 0;
  right: 0;
  width: calc(100% - 250px);
  height: 80px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.upgrade a {
  display: inline-block;
  text-transform: uppercase;
  margin-right: 20px;
  padding: 10px 20px;
  border: 2px solid #fff;
  border-radius: 20px;
  font-size: 1rem;
  color: #fff;
  transition: 0.4s;
}

.upgrade a:hover {
  background-color: #282828;
  border: 2px solid #282828;
  font-weight: bold;
}
/* fine barra upgrade */
/* Contenuto principale main */
.content {
  padding: 0 30px;
  height: 100%;
  width: 100%;
  overflow-y: scroll;
  overflow-x: visible;
}
/* Barra di navigazione del main */
.navigation {
  padding-top: 80px;
  text-align: center;
}

.navigation ul li {
  display: inline-block;
}

.navigation ul li a {
  text-transform: uppercase;
  display: inline-block;
  padding: 20px 10px;
  color: #717171;
  font-weight: bold;
  transition: 0.4s;
  font-size: 0.9rem;
}

.navigation a:hover {
  color: #fff;
}

.navigation ul li a:after {
  content: "";
  display: block;
  margin: 0 auto;
  width: 50%;
  padding-top: 5px;
  border-bottom: 2px solid #141922;
  transition: 0.4s;
}

.navigation ul li a:hover:after {
  border-bottom: 2px solid lightgreen;
}
/* Barra di navigazione del main */
/* Sezione "recently played" */
.recently-played h2 {
  padding: 10px 0;
}

.recently-played-container,
.creato-per-container,
.artisti-popolari-container {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  text-align: center;
}

.recently-played-item,
.creato-per-item,
.artisti-popolari-item {
  width: calc(100% / 6);
  padding: 5px;
}

.recently-played-item img,
.creato-per img,
.artisti-popolari img {
  width: 100%;
}

.recently-played-item h4,
.creato-per h4,
.artisti-popolari h4 {
  font-size: 1rem;
  padding: 10px 0 5px 0;
}

.recently-played-item h5,
.creato-per h5,
.artisti-popolari h5 {
  font-weight: bold;
  font-size: 0.9rem;
}
/* fine sezione "recently played" */
/* Sezione "creato per" e "artisti popolari" */
.creato-per h2,
.artisti-popolari h2 {
  padding: 20px 0 5px 0;
}

.creato-per > h5,
.artisti-popolari > h5 {
  padding-bottom: 10px;
}
/* fine sezione "creato per" e "artisti popolari" */
/* fine contenuto principale main */
/* fine main */

/* Footer */
footer {
  width: 100%;
  height: 80px;
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: #282828;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

footer a {
  font-size: 1.2rem;
}

footer .fa-play-circle {
  font-size: 2.2rem;
  vertical-align: middle;
}

.player-left,
.player-middle,
.player-right {
  height: 70%;
}

.player-left,
.player-right {
  flex-basis: 25%;
}

.player-left {
  display: flex;
  align-items: center;
}

.player-left img {
  max-height: 100%;
}

.player-album-title {
  padding-left: 5px;
  flex-basis: 50%;
  max-height: 100%;
  overflow-y: hidden;
}

.player-album-title h4 {
  font-size: 0.8rem;
}

.player-album-title h5 {
  font-size: 0.7rem;
}

.player-middle-icons {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.player-left-icons a,
.player-middle-icons a {
  color: #717171;
  transition: 0.4s;
  padding: 0 5px;
}

.player-left-icons a:hover {
  color: #fff;
}

.player-middle {
  flex-basis: 30%;
  text-align: center;
}

.player-minutes {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.player-minutes .background-player {
  flex-grow: 2;
  margin: 0 10px;
}

.background-player {
  border-bottom: 3px solid #717171;
  border-radius: 3px;
  position: relative;
}

.foreground-player {
  position: absolute;
  left: 0;
  top: 0;
  width: 30%;
  border-bottom: 3px solid #fff;
  border-radius: 3px;
}

.foreground-player i {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(100%, -50%);
  font-size: 10px;
  display: none;
}

.foreground-player:hover .fa-circle{
  display: block;
}

.player-minutes > span:first-child,
.player-minutes > span:last-child {
  font-weight: bold;
  font-size: 0.8rem;
}

.player-middle-icons a {
  color: #fff;
}

.player-middle-icons a:hover {
  color: #717171;
}

.player-right {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.player-right .background-player {
  flex-grow: 2;
}

.player-right a {
  padding: 5px;
  color: #fff;
  transition: 0.4s;
}

.player-right a:hover {
  color: #717171;
}
/* fine footer */

/* MEDIA QUERIES */
@media screen and (min-width: 993px) {
  html {
    font-size: 13px;
  }
}

@media screen and (min-width: 769px) and (max-width: 992px) {
  html {
    font-size: 12px;
  }

  .recently-played-item,
  .creato-per-item,
  .artisti-popolari-item  {
    width: calc(100% / 4);
    flex-shrink: 0;
  }
}
@media screen and (min-width: 577px) and (max-width: 768px) {
  html {
    font-size: 12px;
  }

  .recently-played-item,
  .creato-per-item,
  .artisti-popolari-item  {
    width: calc(100% / 2);
    flex-shrink: 0;
  }

  .player-left h4,
  .player-left h5 {
    font-size: 0.7rem;
  }
}

@media screen and (min-width: 577px) {
  header.xs {
    display: none;
  }
}

@media screen and (max-width: 576px) {
  html {
    font-size: 12px;
  }

  header.not-xs {
    display: none;
  }

  header.xs {
    float: left;
    width: 70px;
    height: calc(100% - 80px);
    background-color: #000;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 2.5rem;
    text-align: center;
    padding: 15px;
    position: relative;
    z-index: 1;
  }

  header.xs .fa-spotify {
    font-size: 3.5rem;
    color: #fff;
  }

  header.xs .fa-arrow-circle-down {
    font-size: 2rem;
  }

  header.xs .fa-user-circle {
    font-size: 3rem;
    color: #717171;
  }

  header.xs a {
    display: block;
    color: #717171;
    transition: 0.4s;
  }

  header.xs > * > * {
    padding-bottom: 5px;
  }

  .upgrade {
    width: 100%;
  }

  main {
    width: calc(100% - 70px);
  }

  .recently-played-item,
  .creato-per-item,
  .artisti-popolari-item {
    width: calc(100% / 2);
    flex-shrink: 0;
  }

  footer {
    padding: 5px;
  }

  .player-left,
  .player-middle,
  .player-right {
    flex-basis: calc(100% / 3);
  }

  .player-middle {
    padding: 0 10px;
  }

  .player-left h4,
  .player-left h5 {
    font-size: 0.7rem;
  }
}
/* fine MEDIA QUERIES */
